{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    <!-- <img src="{% static 'images/home.svg' %}" alt="Logo" width="30" height="30"> -->
    About
{% endblock %}

{% block content %}

    <p>One evening I turned up to a session 15 minutes early, only to discover it was already full because they do not have an online RSVP system.</p>
    <p>I faced a choice of sticking around for 2 hours to put my name down for the next session, or returning home and back again to try again later with no guarantee of a position.</p>
    <p>I went home...</p>
    <p>... pissed off...</p>
    <p>... and started building this instead.</p>
    <p></p>
{% endblock %}
